
{% extends template.self %}

{% block body %}
    {% block top_menu_bar %}
    <!-- ##HW Add menu -->
   		
<!-- ##If language is English Version, then go to this part -->
{% if  book.language=="en"%}

<div id="common_dronecode_menu">
      <div class="common_menu_logo large_version">
        <a href="https://www.rcbenchmark.com/">
          <img src="{{ "gitbook-plugin-theme-dronecode/images/LogoNoir.png"|resolveAsset }}" alt="Dronecode logo (large)" />
        </a>
      </div>
      <div class="common_menu_logo small_version">
        <a href="https://www.rcbenchmark.com/">
          <img src="{{ "gitbook-plugin-theme-dronecode/images/LogoNoir.png"|resolveAsset }}" alt="Dronecode logo (small)" />
        </a>
      </div>
      <div class="common_menu_options">
        <div id="menu_dc" class="common_dronecode_menu_item"><a href="https://www.rcbenchmark.com/">Home</a></div>
        <div class="common_dronecode_menu_item"><a href="https://www.rcbenchmark.com/contact-us/">Contact us</a></div>
        <div class="common_dronecode_menu_item large_version"><a href="https://www.rcbenchmark.com/blog/">Blog</a></div>
      </div>
    </div>

{% else %}

<!-- ##If language is Chinese Version, then go to this part -->
<div id="common_dronecode_menu">
      <div class="common_menu_logo large_version">
        <a href="https://www.rcbenchmark.com/zh/">
          <img src="{{ "gitbook-plugin-theme-dronecode/images/LogoNoir.png"|resolveAsset }}" alt="Dronecode logo (large)" />
        </a>
      </div>
      <div class="common_menu_logo small_version">
        <a href="https://www.rcbenchmark.com/zh/">
          <img src="{{ "gitbook-plugin-theme-dronecode/images/LogoNoir.png"|resolveAsset }}" alt="Dronecode logo (small)" />
        </a>
      </div>
      <div class="common_menu_options">
        <div id="menu_dc" class="common_dronecode_menu_item"><a href="https://www.rcbenchmark.com/zh/">主页</a></div>
        <div class="common_dronecode_menu_item"><a href="https://www.rcbenchmark.com/zh/contact-us/">联系我们</a></div>
        <div class="common_dronecode_menu_item large_version"><a href="https://www.rcbenchmark.com/zh/blog/">博客</a></div>
      </div>
    </div>

	

{% endif %}

    {% endblock %}
<!-- ##HW END Add dronecode menu -->
    {{ super() }}
    
{% endblock %}









