

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font: normal normal 500 normal 16px / 22.4px "Fira Sans";
    color: rgb(136, 136, 136);
    
}

ul {
    list-style-type: none;
}


.float-left-child {
  float: left
}


.parent {
  padding: 1rem;
  
}

.picture {
  padding: 1.9rem;
}

#IMG_4 {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    cursor: pointer;
    display: block;
    height: 30px;
    letter-spacing: -1.5px;
    text-decoration: none solid rgb(68, 68, 68);
    text-indent: -9999px;
    width: 166.656px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 83.3281px 15px;
    transform-origin: 83.3281px 15px;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 600 normal 22px / 22px "Open Sans";
    outline: rgb(68, 68, 68) none 0px;
    transition: opacity 0.4s ease 0s;
}/*#IMG_4*/
